<p id="notice"><%= notice %></p>

<h1>Societies</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Val anual</th>
      <th>Val semestral</th>
      <th>Val mensual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= society.nombre %></td>
        <td><%= society.descripcion %></td>
        <td><%= society.val_anual %></td>
        <td><%= society.val_semestral %></td>
        <td><%= society.val_mensual %></td>
        <td><%= link_to 'Show', society %></td>
        <td><%= link_to 'Edit', edit_society_path(society) %></td>
        <td><%= link_to 'Destroy', society, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Society', new_society_path %>
