<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @receipt.fecha %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @receipt.valor_total %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
